*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* git rm src/components/menu/Menu2.css src/components/menu/Menu2.js src/components/menu/Menu3.css src/components/menu/Menu3.js src/components/menu/Menu4.css src/components/menu/Menu4.js */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 28px;
    height: 22px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #E56C4E;
    outline: 0.5px solid #ffffff;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    opacity: 90%;
  }

  .bm-burger-bars-click {
    opacity: 90%;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #E56C4E;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 7px 27.6px 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  /* .bm-morph-shape {
    fill: #373a47;
  } */
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /* Icons */

  .fetch-menu {
    margin: 0 0 25px 0;
    max-width: 75px;
  }

  .user-photo {
    margin: 0;
    max-width: 115px;
    padding-bottom: 10px;
  }

  .user-name {
    color: #5E5D5D;
    font-weight: 600px;
    font-size: 1.3em;
  }

  .profile-action {
    margin: 7px 0 17px 0;
    font-size: 1em;
  }