@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.conf-body {
    background-image: url('../../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.conf-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.conf-box {
    background: rgba(249, 247, 247, 0.9);
    box-shadow: 20px 25px 13px -20px rgba(0,0,0,0.35);
    border-radius: 9px;
    height: 100%;
    width: 50%;
    min-width: 250px;
    /* max-width: 532px; */
    padding: 20px 10px 20px 10px;
    margin-top: 35px;
}

.conf-box-info:hover {
    cursor: default;
}

h1.conf-h1 {
    color: #E56C4E;
    font-size: 28px;
    font-weight: 650;
    margin: 10px 0 10px 0;
}

h2.conf-h2 {
    color: #E56C4E;
    font-size: 26px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

h3.conf-h3 {
    color: #E56C4E;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

p.conf-par {
    color: #A9A9A9;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

.requested-service {
    color: #A9A9A9;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 6px 0;
}

.date-time {
    color: #5E5D5D;
    font-size: 15px;
    font-weight: 700;
    margin: 6px 0 25px 0;
}

.conf-cal {
    width: 35px;
    height: 35px;
    margin: 13px 0 13px 0;
}

@media (min-width: 1024px) {
    .conf-box {
        background: rgba(249, 247, 247, 0.9);
        box-shadow: 20px 25px 13px -20px rgba(0,0,0,0.35);
        border-radius: 9px;
        height: 100%;
        min-height: 400px;
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        padding-top: 5%;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5%;
        margin-top: 35px;
    }

    .conf-box-info {
        margin: 0;
    }

    h1.conf-h1 {
        color: #E56C4E;
        font-size: 36px;
        font-weight: 650;
        margin: 10px 0 10px 0;
    }
    
    h2.conf-h2 {
        color: #E56C4E;
        font-size: 32px;
        font-weight: 600;
        margin: 10px 0 10px 0;
    }
    
    h3.conf-h3 {
        color: #E56C4E;
        font-size: 28px;
        font-weight: 600;
        margin: 10px 0 10px 0;
    }
    
    p.conf-par {
        color: #A9A9A9;
        font-size: 26px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }
    
    .requested-service {
        color: #A9A9A9;
        font-size: 23px;
        font-weight: 400;
        margin: 0 0 6px 0;
    }
    
    .date-time {
        color: #5E5D5D;
        font-size: 23px;
        font-weight: 700;
        margin: 6px 0 25px 0;
    }
    
    .conf-cal {
        width: 50px;
        height: 50px;
        margin: 13px 0 13px 0;
    }
}