body {
    background-image: url('../../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border: 4px solid blue;
}

.box {
    border: 2px solid green;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 9px;
    width: 50%;
    height: 100%;
    margin-left: 30px;
}

h1 {
    color: #E56C4E;
}

h2 {
    color: #E56C4E;
}

h3 {
    color: #E56C4E;
}

p {
    color: #A9A9A9;
}

.requested-service {
    color: #A9A9A9
}

.date-time {
    color: #5E5D5D;
}