*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

#calendar-wrapper {
    background-color: white;
    height: 100vh;
}


#cal-service-title {
    color: #E56C4E;
    font-size: 28px;
    font-weight: 650;
    margin: 1.5em 0 .25em 0;
}

#cal-sub-heading {
    color: #A9A9A9;
    font-size: 20px;
    margin-bottom: 1.75em;
}

#calendar-container {
    width: 75vw;
    margin: 0 auto 3em auto;
}

.react-calendar {
    box-shadow: 4px 6px 12px #5E5D5D;
    margin: 0 auto;
}

.react-time-picker__wrapper {
    box-shadow: 4px 6px 12px #5E5D5D;
    width: 55vw;
}

.react-calendar__navigation__label {
    color: #E56C4E;
    font-size: 1em;
}

.react-calendar__month-view__weekdays__weekday {
    text-decoration: none;
    border: none;
    cursor: default;
}

.react-calendar__tile--active {
    background: #A9A9A9;
    color: #353535;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #A9A9A9;
    color: #353535;
}

.react-calendar__tile--now {
    background: #E56C4E;
    color: white;
}

#cal-button {
    width: 45vw;
    height: 45px;
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 1.75em;
    border: solid 1px white;
    border-radius: 10px;
    background-color: #E56C4E;
    color: white;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #cal-service-title {
        font-size: 2em;
        font-weight: 650;
    }

    #cal-sub-heading {
        font-size: 1.75em;
    }

    .react-calendar {
        height: 300px;
        width: 350px;
    }

    .react-time-picker__wrapper {
        width: 250px;
    }

    #cal-button {
        width: 30vw;
        height: 50px;
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1em;
        border: solid 1px #E56C4E;
        border-radius: 10px;
        background-color: #E56C4E;
        color: white;
    }
}

@media (min-width: 1023px) {
    #cal-service-title {
        font-size: 2em;
        margin-top: 1.5em;
    }

    #cal-sub-heading {
        font-size: 1.75em;
        margin-bottom: .5em;
    }

    .react-calendar {
        height: 300px;
        width: 350px;
    }

    .react-time-picker__wrapper {
        width: 250px;
    }

    #cal-button {
        width: 300px;
        height: 60px;
        font-size: 1.7em;
        margin-top: 3em;
    }

}
