*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

p {
    color: #A9A9A9;
    font-size: 30px;
    margin-bottom: 60px;
    text-decoration: none !important;
}

Link p {
    text-decoration: none !important;
}

#dash-service-container {
    background-color: white;
    height: 100vh;
}

#booking-service-title {
    font-size: 27px;
    padding-top: 25px;
    padding-bottom: 40px;
    color: #6A6A6A;
}

.booking-service-icon-container {
    padding-bottom: 50px;
}

#serv-logo {
    height: 2em;
    margin-top: 2em;
}

.booking-service-walk-icon img{
    height: 5em;
}

.booking-service-groom-icon img{
    height: 5em;
}

.booking-service-overnight-icon img{
    height: 5em;
}

@media (min-width: 768px) and (max-width: 1023px) {
    
	#booking-service-icon-container {
	display: grid;
	grid-template-rows: repeat(1,.5fr);
	grid-template-columns:repeat(3, .5fr);
}
	
    .booking-service-groom-icon {
        margin-top: 110px;
    }
	
    .booking-service-overnight-icon {
        margin-top: 100px;
    }
	
    .booking-service-walk-icon {
        margin-top: 110px;
    }
	
    #booking-service-title {
        font-size: 40px;
        margin-top: 50px;
        padding-bottom: 65px;
    }
	
    p {
        font-size: 45px;
        
    }
	
    .links {
        text-decoration: none;
    }
}

@media (min-width: 1023px){
    #serv-logo {
        height: 4em;
        margin-top: 2em;
    }
	
    #booking-service-icon-container {
        display: grid;
	grid-template-rows: repeat(1,.5fr);
	grid-template-columns:repeat(3, .5fr);
        max-width: 1200px;
        margin: 0 auto;
    }
	
    .booking-service-groom-icon {
        margin-top: 110px;
    }
	
    .booking-service-overnight-icon {
        margin-top: 100px;
    }
	
    .booking-service-walk-icon {
        margin-top: 110px;
    }

    .booking-service-walk-icon img{
        height: 8em;
    }

    .booking-service-groom-icon img{
        height: 8em;
    }

    .booking-service-overnight-icon img{
        height: 8em;
    }
	
    #booking-service-title {
        font-size: 40px;
        margin-top: 50px;
        padding-bottom: 65px;
    }
	
    p {
        font-size: 45px; 
    }
	
    .links {
        text-decoration: none;
    }
}
