@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-team-body {
    background-color: white;
    margin-top: 25px;
}

h1.abouth1 {
    color: #E56C4E;
    font-size: 28px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 13px;
}

p.about-team {
    color: #A9A9A9;
    text-align: center;
    margin-bottom: 25px;
}

.team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.member-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

/* INDIVIDUAL TEAM MEMBERS */
.member-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.member-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.member-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

.member-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}

/* TEAM MEMBER CONTENT ITEMS */
.member-photo {
    border-radius: 50%;
    background-color: #A9A9A9;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 10px;
    margin-left: 0;
}

.member-content {
    display: inline;
}

h2.member-name {
    color: #E56C4E;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    padding-top: 4px;
    margin-bottom: 4px;
}

h3.member-title {
    color: #A9A9A9;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 6px;
}

p.about-member {
    color: #A9A9A9;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 18px;
}

.social-links {
    color: #353535;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    text-decoration: none;
    margin-bottom: 13px;
}

.social-links:hover {
    color: #E56C4E;
    cursor: pointer;
    text-decoration: none;
}

.social-links:visited {
    color: #353535;
    text-decoration: none;
}

.github, .github > a, .github:hover {
    text-decoration: none;
}

.icon-social-github {
    color: #353535;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 18px;
}

.linkedin, .linkedin > a, .linkedin:hover {
    text-decoration: none;
}

.icon-social-linkedin {
    color: #353535;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 18px;
}

.portfolio, .portfolio > a, .portfolio:hover {
    text-decoration: none;
}

.icon-globe {
    color: #353535;
    text-decoration: none;
    margin-left: 18px;
    margin-right: 18px;
}

@media (min-width: 768px) and (max-width: 1023px){
  .team-members{
     display: grid;
     grid-template-columns: repeat(2,.5fr);
     grid-template-rows: repeat(2,.5fr);
     margin: 15px;
     padding-top: 50px;
  }
  
  .member-photo {
      display: flexbox;
      border-radius: 50%;
      background-color: #A9A9A9;
      width: 55px;
      height: 55px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 50px;
  }
  
  h2.member-name {
      color: #E56C4E;
      font-size: 25px;
      font-weight: 600;
      text-align: left;
      margin-left: 23px;   
  }
  
  h3.member-title {
      color: #A9A9A9;
      font-style: italic;
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 6px;
      margin-left: 23px;    
  }
  
  p.about-member {
      color: #A9A9A9;
      text-align: left;
      margin: 20px;  
      margin-left: 50px; 
  }
  
  body.about-team-body {
      background-color: white;
      margin-top: 40px;
  }
  
  h1.abouth1 {
      color: #E56C4E;
      font-size: 40px;
      font-weight: 600;
      margin-top: 25px;
      margin-bottom: 13px;
  }
  
  p.about-team {
      color: #A9A9A9;
      text-align: center;
      margin-bottom: 25px;
  }
  
  .icon-social-github {
      color: #353535;
      text-decoration: none;
      margin-left: 50px;
      margin-right: 19px;
      font-size: 20px;
  }
  
  .icon-social-linkedin {
      color: #353535;
      text-decoration: none;
      margin-left: 4px;
      margin-right: 19px;
      font-size: 20px;
  }
  
  .icon-globe {
      color: #353535;
      text-decoration: none;
      margin-left: 5px;
      margin-right: 19px;
      font-size: 20px;
  } 
}

@media (min-width: 769px){
    .team-members{
        display: grid;
        grid-template-columns: repeat(2,.5fr);
        grid-template-rows: repeat(2,.5fr);
        margin-left: 40px;
        padding-top: 50px;  
     }
  
     .member-photo {
        display: flexbox;
        border-radius: 50%;
        background-color: #A9A9A9;
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;   
    }
  
    h2.member-name {
        color: #E56C4E;
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        margin-left: 12px;  
        margin-bottom: 10px; 
    }
  
    h3.member-title {
        color: #A9A9A9;
        font-style: italic;
        font-size: 22px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 6px;
        margin-left: 12px;    
    }
  
    p.about-member {
        /* color: #A9A9A9; */
        color: rgb(107, 98, 98);
        text-align: left;
        margin: 20px;  
        margin-left: 50px; 
        margin-right: 100px;
        font-size: 20px;
    }
  
    body.about-team-body {
        background-color: white;
        margin-top: 40px;
    }
  
    h1.abouth1 {
        color: #E56C4E;
        font-size: 50px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 13px;
    }
  
    p.about-team {
        color: #A9A9A9;
        text-align: center;
        margin-bottom: 25px;
    }
  
    .icon-social-github {
        color: #353535;
        text-decoration: none;
        margin-left: 50px;
        margin-right: 4px;
        font-size: 30px;
    }
  
    .icon-social-linkedin {
        color: #353535;
        text-decoration: none;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 30px;
    }
  
    .icon-globe {
        color: #353535;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 4px;
        font-size: 30px;
    } 
  
    h1.abouth1 {
        color: #E56C4E;
        font-size: 40px;
        font-weight: 600;
        margin-top: 25px;
        margin-bottom: 13px;
    }  
  
    p.about-team {
        color: #A9A9A9;
        text-align: center;
        margin-bottom: 25px;
        font-size: 25px;
    }
}