*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav, footer {
    display: none;
}

body {
    background-image: url("../../assets/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;       
    background-color: #e56c4e;
    min-width: 320px;
}

.Login-Image {
    background: url("../../assets/logo-white.png");
    position: absolute;
    height: 30px;
    left: 10px;
    top: 20px;   
}

.Login-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.Pet-Confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Login, .SignUp, .All-Pets-Container, .Profile {
    width: 85%;
    font-family: Roboto;
    background-color: #f2f0f0;
    opacity: 80%;
    box-shadow: 6px 4px 12px 25% #353535;
    border-radius: 8px;
    text-align: center;
}

.User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
    color: #353535;
    padding: 30px;
    font-size: 1.7em;
}

.All-Pets-Container h1 {
    color: #353535;
    padding: 10px;
    font-size: 1.3em;
}

.Profile {
    margin: auto;
}

.User-Profile-Info-Container {
    margin: 20px 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

.All-Pets-Box h1 {
    font-family: Roboto;
    font-weight: 400;
}

.User-Profile-Item {
    font-weight: 500;
    font-family: Roboto;
    color: #353535;
    width: 85%;
    padding: 12px 20px 5px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff; 
    text-align: left;
}

.All-Pets {
    display: flex;
    justify-content: space-around;

}
.Each-Pet {
    display: block;
    align-items: center;
}

.Pet-Image {
    height: 150px;
}

.Login-Form, .SignUp-Form {
    display: flex;
    flex-direction: column;
}

.Login-Form-Input, .SignUp-Form-Input {
    font-weight: 500;
    font-family: Roboto;
    color: #353535;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;   
}

.Pet-Buttons {
    margin: 40px 0;
}

.Login-Form-Button, .SignUp-Form-Button, .Pet-Button {
    color:#ffffff;
    border-radius: 1px;
    font-weight: 700;
    width: 20%;
    margin: 20px auto;
    background-color: #e56c4e;
    padding: 10px 15px;    
    min-width: 75px;
}

.Pet-Button {
    margin: 5px;
}

.Login p, .Login a, .SignUp p, .SignUp a {
    color: #353535;
    margin-top: 0;
    padding-bottom: 14px;
    font-family: Roboto;
    font-size: .9em;
    text-decoration:none;
}

a:hover {
    color: #e56c4e;
    text-decoration: underline;
    text-decoration-color: #e56c4e;
}

.Profile {
    position: relative;
}

.Profile-X {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}

@media(min-width: 375px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 40px;
        left: 10px;
        top: 20px;   
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 40px;
        font-size: 1.5em;
    }

    .Login-Form-Input, .SignUp-Form-Input {
        width: 75%;
    }

    .Login p, .Login a, .SignUp p, .SignUp a {
        font-size: .9em;
    }
}

@media(min-width: 425px) {
    .Login-Image{
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 40px;
        left: 20px;
        top: 20px;   
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 30px;  
        font-size: 1.3em;      
    } 

    .Login p, .Login a, .SignUp p, .SignUp a {
        font-size: .7em;
    }
}

@media(min-width: 768px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 50px;
        left: 50px;
        top: 50px;       
    }

    .Login, .SignUp {
        width: 50%;
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 30px;  
        font-size: 1.5em;      
    }    
    .User-Profile-Item {
        padding-right: 1px;
        width: 48%;
        
    }
}

@media(min-width: 1024px) {
    .Profile {
        margin-top: 50px;
    }
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 60px;
        left: 60px;
        top: 50px;   
    }
}

.User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
    font-size: 2em;
}

.Login-Form-Input, .SignUp-Form-Input {
    font-weight: 600;
    font-size: .9em;   
}

.Login-Form-Button, .SignUp-Form-Button {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .5px;
    width: 120px;    
}

.Login p, .Login a, .SignUp p, .SignUp a {
    font-size: 1em;
    text-decoration:none;
}

@media(min-width: 1440px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 70px;
        left: 80px;
        top: 60px;   
    }
}