*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-body {
    background-image: url("../../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;       
    background-color: #e56c4e;
    min-width: 320px;
}

#pet-wrapper {
    background-image: url("../../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #e56c4e;
    min-width: 320px;
}

.Login-Image {
    background: url("../../assets/logo-white.png");
    position: absolute;
    height: 30px;
    left: 10px;
    top: 20px;   
}

.Login-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.Pet-Confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

#pet-confirm-wrapper {
    background-image: url("../../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #e56c4e;
    min-width: 320px;
    height: 100vh;
}

.Login, .SignUp, .All-Pets-Container, .Profile {
    width: 85%;
    font-family: Roboto;
    background: rgba(249, 247, 247, 0.9);
    box-shadow: 20px 25px 13px -20px rgba(0,0,0,0.35);
    border-radius: 9px;
    text-align: center;
}

.User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
    color: #5E5D5D;
    padding: 30px;
    font-size: 1.7em;
}

.All-Pets-Container h1 {
    color: #353535;
    padding: 10px;
    font-size: 1.3em;
}

.Profile {
    margin: auto;
}

.User-Profile-Info-Container {
    margin: 20px 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;    
}

.All-Pets-Box h1 {
    font-family: Roboto;
    font-weight: 400;
}

.User-Profile-Item {
    font-weight: 500;
    font-family: Roboto;
    color: #353535;
    width: 85%;
    padding: 12px 20px 5px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff; 
    text-align: left;
}

.All-Pets {
    display: flex;
    justify-content: space-around;
}

.Each-Pet {
    display: block;
    align-items: center;
}

.Pet-Image {
    height: 150px;
}

.Login-Form, .SignUp-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login-Form-Input {
    font-weight: 400;
    font-family: Roboto;
    color: #6A6A6A;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;   
}

.SignUp-Form-Input {
    font-weight: 400;
    font-family: Roboto;
    color: #6A6A6A;
    width: 85%;
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background: #ffffff;   
}

.SignUp-Form-Button {
    color:#ffffff;
    font-family: Roboto;
    border: none;
    border-radius: 1px;
    font-weight: 700;
    width: 20%;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.Login-Form-Button {
    color:#ffffff;
    font-family: Roboto;
    border: none;
    border-radius: 1px;
    width: 20%;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.Pet-Button {
    color:#ffffff;
    font-family: Roboto;
    border: solid 1px #a9a9a9;
    border-radius: 10px;
    font-weight: 700;
    width: 20%;
    margin: 20px 5px 28px 5px;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.Login-Form-Button:hover {
      cursor: pointer;
      opacity: 90%;
}

.SignUp-Form-Button:hover {
    cursor: pointer;
    opacity: 90%;
}

p.login-prompt {
    color: #5E5D5D;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: Roboto;
    font-size: .9em;
    text-decoration:none;
}

p.login-prompt > a, p.login-prompt > a:visited {
    text-decoration:none;
    color: #5E5D5D;
}

p.login-prompt > a:hover {
    color: #e56c4e;
    text-decoration: underline;
    text-decoration-color: #e56c4e;
}

.Profile {
    position: relative;
}

.Profile-X {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.Profile {
    position: relative;
}

.Profile-X {
    width: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
}

@media(min-width: 375px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 40px;
        left: 10px;
        top: 20px;   
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 40px;
        font-size: 1.5em;
    }

    .Login-Form-Input, .SignUp-Form-Input {
        width: 75%;
    }

    /* .Login p, .Login a, .SignUp p, .SignUp a {
        font-size: .9em;
    } */
}

@media(min-width: 425px) {
    .Login-Image{
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 40px;
        left: 20px;
        top: 20px;   
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 30px;  
        font-size: 1.3em;      
    } 

    /* .Login p, .Login a, .SignUp p, .SignUp a {
        font-size: .7em;
    } */
}

@media(min-width: 768px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 50px;
        left: 50px;
        top: 50px;       
    }

    .Login, .SignUp {
        width: 50%;
    }

    .User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
        padding: 30px;  
        font-size: 1.5em;      
    }    
    .User-Profile-Item {
        padding-right: 1px;
        width: 48%;
        
    }
}

@media(min-width: 1024px) {
    .Profile {
        margin-top: 50px;
    }
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 60px;
        left: 60px;
        top: 50px;   
    }
}

.User-Login, .Create-Account, .Profile-Title, .All-Pets-Box h1 {
    font-size: 2em;
}

.Login-Form-Input, .SignUp-Form-Input {
    font-weight: 400;
    font-size: .9em;   
}

.Login-Form-Button {
    color:#ffffff;
    font-family: Roboto;
    border: none;
    border-radius: 1px;
    width: 120px;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.SignUp-Form-Button {
    color:#ffffff;
    font-family: Roboto;
    border: none;
    border-radius: 1px;
    width: 120px;
    margin: 20px 0 8px 0;
    background-color: #e56c4e;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1.4px;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

/* .Login p, .Login a, .SignUp p, .SignUp a {
    font-size: 1em;
    text-decoration:none;
} */

@media(min-width: 1440px) {
    .Login-Image {
        background: url("../../assets/logo-white.png");
        position: absolute;
        height: 70px;
        left: 80px;
        top: 60px;   
    }
}