*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

#provider-service-title {
    color: #E56C4E;
    font-size: 28px;
    font-weight: 650;
    margin: 1.5em 0 .25em 0;
}

#provider-sub-heading {
    color: #A9A9A9;
    font-size: 20px;
    margin-bottom: 1.75em;
}

#book-directions {
    color: #A9A9A9;
    font-size: 1em;
    margin-bottom: 10px;
}

.provider-item {
    display: flex;
    justify-content: space-around;
}

.provider-img-name-container {
    margin: 10px 0 10px 15px;
}

.provider-photo {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.provider-name {
    color: #A9A9A9;
    font-size: 1.5em;
}

.book-provider-icon img {
    height: 2em;
    margin: 70px 30px 0 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    #provider-service-title {
        font-size: 3em;
        margin-top: 1em;
    }

    #provider-sub-heading {
        font-size: 1.5em;
    }

    .provider-item {
        justify-content: space-around;
    }

    .provider-img-name-container {
        display: flex;
    }

    .provider-name {
        margin-top: 60px;
        padding-left: 25px;
        font-size: 2em;
    }
}

@media (min-width: 1023px) {
    #provider-service-title {
        font-size: 4em;
        margin-top: 1em;
    }

    #provider-sub-heading {
        font-size: 2.5em;
    }

    #providers-container {
        max-width: 65vw;
        margin: 0 auto;
    }

    .provider-item {
        justify-content: space-around;
    }

    .provider-img-name-container {
        display: flex;
    }

    .provider-name {
        margin-top: 60px;
        padding-left: 25px;
        font-size: 2em;
    }
}
